.img-size {
    height: 300px;
}

@media screen and (max-width: 992px) {
    .img-size {
        height: 200px;
    }
    
}

@media screen and (max-width: 768px) {
    .img-size {
        height: 150px;
    }
    
}